header {
      background: rgb(246, 167, 167);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 40px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .logo {
      font-size: 1.3rem;
      font-weight: bold;
      color: #0077ff;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 25px;
    }

    nav a {
      text-decoration: none;
      color: #333;
      font-size: 24px;
      font-weight: 600;
    }

    nav a:hover {
      color: #0077ff;
    }

    .hamburger{
        /* display: flex; */
        display: none;
        flex-direction: column;
        gap: 4px;
    }

    .hamburger span{
        width: 24px;
        height: 3px;
        background-color: black;
    }


    @media (max-width: 760px){
        .hamburger{
            display: flex;
        }

        nav ul {
            display: none;
        }

        nav ul.open{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        }
    }