*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(99, 99, 234);
    
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 80px;
    list-style: none;
    font-size: 36px;
}

/* a{
    text-decoration: none;
    color: white;
} */

.hamb{
     width: 40px;
     height: 40px;

     display: none;
}
/* 
@media screen and (max-width: 768px) {

    ul{
    font-size: 24px;
    gap: 40px;
    }
}


@media screen and (max-width: 450px) {

    ul{
    font-size: 18px;
    gap: 20px;
    }
}


@media screen and (max-width: 320px) {

    header{
        background-color: rgb(220, 23, 206);
    }

    ul{
        display: none;
        position: absolute;
    }
    
    .hamb{
        display: flex;
    }

    .open{
        display: flex;
        flex-direction: column;
        position: relative;
        top:150px;
        background-color: rgb(72, 71, 71);

    }
}

@media print {
    body{
        width: 1500px;
        height: auto;
    }

    img{
        display: none;
    }
} */



/* body{
    width: 800px;
} */

p{
    font-size: 40px;
    font-weight: 800;
}

.container{
    background-color: rgb(154, 88, 216);
    height: 50px;

}

/* .scroll{
    font-size: 56px;
} */

.cont{
    height: 100px;
    width: 400px;
    background-color: aqua;
}


.my-element:hover {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s;
   /* don't forget to set a duration! */
}

/* @import url("hover-min.css");

.hvr-wobble-skew{
    16.65%{-webkit-transform:skew(-12deg);transform:skew(-12deg)}33.3%{-webkit-transform:skew(10deg);transform:skew(10deg)}49.95%{-webkit-transform:skew(-6deg);transform:skew(-6deg)}66.6%{-webkit-transform:skew(4deg);transform:skew(4deg)}83.25%{-webkit-transform:skew(-2deg);transform:skew(-2deg)}100%{-webkit-transform:skew(0);transform:skew(0)}}.hvr-wobble-skew{display:inline-block;vertical-align:middle;-webkit-transform:perspective(1px) translateZ(0);transform:perspective(1px) translateZ(0);box-shadow:0 0 1px rgba(0,0,0,0)}.hvr-wobble-skew:active,.hvr-wobble-skew:focus,.hvr-wobble-skew:hover{-webkit-animation-name:hvr-wobble-skew;animation-name:hvr-wobble-skew;-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-iteration-count:1;animation-iteration-count:1
    } */